body {
  padding: 1em;
  font-family: sans-serif;
}

form.inline {
  display: inline;
}

td {
  padding-right: 20px;
}

button {
  margin: 5px 0px 0px 0px
}

.message {
  padding: 10px;
  background: #FFFF99;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}
