<form action="/create" method="post">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" name="filename"
    placeholder="Enter file name right here!"/>
    <button type="submit" value="submit">create</button>
  </div>
</form>
