<form class="inline" action="/create" method="post">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" name="filename"
    placeholder="Enter file name right here!"/>
  </div>
    <button type="submit" value="submit">create</button>
</form>

<form class="inline" action="/" method="get">
  <button type="submit"  style="display: inline;">cancel</button>
</form>
