<form class="inline" action="/users/signup" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="<%= params['username'] || ''%>"/>
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password"
      value="<%= params['username'] || ''%>"/>
  </div>
  <div>
    <label for="password_confirm">Confirm Password:</label>
    <input type="password" name="password_confirm"/>
  </div>
  <br>
  <button type="submit">sign up</button>
</form>

<form class="inline" action="/" method="get">
  <button type="submit"  style="display: inline;">cancel</button>
</form>
