<form class="inline" action='/upload'
  enctype="multipart/form-data" method='POST'>
  <div>
    <input name="file" type="file" />
  </div>
    <input type="submit" value="Upload" />
</form>

<form class="inline" action="/" method="get">
  <button type="submit"  style="display: inline;">cancel</button>
</form>
